# Add any directories, files, or patterns you don't want to be tracked by version control
.idea


# ignore 3rd party lib
node_modules


# Ignore built files
build

# ignore test converage
coverage

# Environment varibles
*.env
*.env.test
*.env copy

#temp
temp
.DS_Store

*.save
*.save.*